<div class="d-flex w-25 h-100 px-5">
  <ul style="list-style: none">
    <li>
      <i class="fa-solid fa-toolbox me-2"></i
      ><a
        style="text-decoration: none; color: #333"
        href="/<%= systemConfig.prefixAdmin %>/dashboard"
        >Dashboard</a
      >
    </li>
    <li>
      <i class="fa-solid fa-toolbox me-2"></i
      ><a
        style="text-decoration: none; color: #333"
        href="/<%= systemConfig.prefixAdmin %>/items/list"
        >CRUD</a
      >
    </li>
  </ul>
</div>
