<!DOCTYPE html>
<html>
  <head>
    <% include ./../../elements/header%>
  </head>
  <body>
    <% include ./../../elements/navbarHeader%>
    <div class="d-flex w-100">
      <% include ./../../elements/sidebar%>
      <div class="item">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </div>
    </div>
    <% include ./../../elements/scripts%>
  </body>
</html>
