<% panigationHelper= (variablePanigation)=> { 
  let totalPage =
  Math.ceil(variablePanigation.totalElement/variablePanigation.numberElementPerPage);
  let ItemsPerPage = variablePanigation.numberElementPerPage ; 
  let currentPage =variablePanigation.currentPage; 
  let to = ItemsPerPage*currentPage; 
  let from = to- ItemsPerPage + 1; 
  if(to > variablePanigation.totalElement) to = variablePanigation.totalElement; 
  let link = systemConfig.prefixAdmin + '/items';
  let xhtmlStart = `<button class="disable"><a>Start</a></button>`; 
  let xhtmlNext = `<button class="disable"><a>Next</a></button>`;
  let xhtmlPrevious = `<button class="disable"><a>Previous</a></button>`;
  let xhtmlPages = '';
  let xhtmlEnd = `<button class="disable"><a>End</a></button>`;
  if(currentPage > 1) {
    xhtmlStart = `<button><a href="/${link}?page=1">Start</a></button>`;
    xhtmlPrevious = `<button><a href="/${link}?page=${currentPage - 1}">Previous</a></button>`;

  }

  if(currentPage < totalPage) {
    xhtmlEnd = `<button><a href="/${link}?page=${totalPage}">End</a></button>`;
    xhtmlNext = `<button><a href="/${link}?page=${currentPage + 1}">Next</a></button>`;
  }
  let xhtmlPanigation = '<div class="d-flex gap-2">' + xhtmlStart + xhtmlPrevious + xhtmlPages + xhtmlNext + xhtmlEnd + '</div>'; 

  return `
  <div class="panigition d-flex justify-content-between">
    <div>Panigition</div>
    <div class="d-flex gap-3">
      <div class="total">Total entries ${variablePanigation.totalElement}</div>
      <div class="total">Total Page ${totalPage}</div>
    </div>
  </div>

  <div class="info d-flex justify-content-between">
    <div class="">
      <p>Number of page ...</p>
      <p>
        Showing ${from} to ${to} of ${variablePanigation.totalElement} elements
      </p>
    </div>
    ${xhtmlPanigation}
  </div>` 
} %>